<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="config" href="/tabs/config">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="libs" href="/tabs/libs">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Libs</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
