<ion-item [lines]="lines" [disabled]="disabled" [class]="itemClass">
  <ng-content select="[toggle-start]"></ng-content>
  <ion-icon *ngIf="startIcon" [name]="startIcon" slot="start"></ion-icon>
  <custom-label *ngIf="label && !description" [variant]="labelVariant">{{ label }}</custom-label>
  <ion-label *ngIf="description">
    <h2 *ngIf="label">{{ label }}</h2>
    <p>{{ description }}</p>
  </ion-label>
  <ng-content select="[toggle-label]"></ng-content>
  <ion-toggle
    slot="end"
    [checked]="value"
    [disabled]="disabled"
    [color]="color"
    [class]="toggleClass"
    (ionChange)="onToggle($event)"
    (ionBlur)="onBlur()"
  ></ion-toggle>
</ion-item>
