<custom-header>
  <custom-toolbar [toolbarClass]="expandedToolbarClass">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenu"></ion-menu-button>
      <ng-content select="[expanded-start]"></ng-content>
    </ion-buttons>
    <custom-title *ngIf="title">{{ title }}</custom-title>
    <ng-content select="[expanded-title]"></ng-content>
    <ion-buttons slot="end">
      <ng-content select="[expanded-end]"></ng-content>
    </ion-buttons>
  </custom-toolbar>
  <div class="collapsible-expanded">
    <ng-content select="[expanded-content]"></ng-content>
  </div>
</custom-header>

<custom-content [contentClass]="contentClass">
  <custom-header collapse="condense">
    <custom-toolbar [toolbarClass]="condensedToolbarClass">
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="showMenu"></ion-menu-button>
        <ng-content select="[condensed-start]"></ng-content>
      </ion-buttons>
      <ion-buttons slot="end" class="condensed-actions">
        <custom-button-clear
          *ngIf="showSearch"
          ariaLabel="Search"
          (click)="onSearchClick()"
        >
          <ion-icon [name]="searchIcon"></ion-icon>
        </custom-button-clear>
        <custom-button-clear
          *ngIf="showFilter"
          ariaLabel="Filter"
          (click)="onFilterClick()"
        >
          <ion-icon [name]="filterIcon"></ion-icon>
        </custom-button-clear>
        <ng-content select="[condensed-end]"></ng-content>
      </ion-buttons>
    </custom-toolbar>
  </custom-header>

  <ng-content select="[collapsible-content]"></ng-content>
</custom-content>
