<ion-item [lines]="lines" [disabled]="disabled" [class]="itemClass">
  <custom-label
    *ngIf="label"
    [variant]="labelVariant"
    [position]="labelPosition"
  >
    {{ label }}
  </custom-label>
  <ion-range
    [value]="value"
    [min]="min"
    [max]="max"
    [step]="step"
    [snaps]="snaps"
    [ticks]="ticks"
    [pin]="pin"
    [dualKnobs]="dualKnobs"
    [color]="color"
    [disabled]="disabled"
    [class]="rangeClass"
    (ionChange)="onRangeChange($event)"
    (ionBlur)="onBlur()"
  ></ion-range>
</ion-item>
