<ion-item [lines]="lines" [disabled]="disabled" [class]="itemClass">
  <custom-label
    *ngIf="label"
    [variant]="labelVariant"
    [position]="labelPosition"
    [forId]="inputId"
  >
    {{ label }}
  </custom-label>
  <ion-input
    [id]="inputId"
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [inputmode]="inputMode"
    [clearInput]="clearInput"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [name]="name"
    [autocomplete]="autocomplete"
    [enterkeyhint]="enterKeyHint"
    [autocapitalize]="autocapitalize"
    [class]="inputClass"
    (ionInput)="onInput($event)"
    (ionBlur)="onBlur()"
  ></ion-input>
</ion-item>
<ion-note *ngIf="helperText && !errorText" class="input-note">{{ helperText }}</ion-note>
<ion-note *ngIf="errorText" class="input-note input-note--error">{{ errorText }}</ion-note>
